body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald' sans-serif;
  background-color: #000000;
}

h1{
  color: #f4c0d7;
  font-weight: bold;
  font-family: 'Oswald' sans-serif;
  text-transform: uppercase;
}

.header{
  font-weight: 700;
}

.subheading {
  font-weight: 300;
}

.gif-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0 1.5em;
    padding: 1em;
    width: 100%;
}

.gif-item img {
    width: 100%;
}

.gif-list {
    column-gap: 1.5em;
    font-size: .85em;
    margin: 1.5em 0;
    padding: 0;
}

.search-bar{
  opacity: 20%;
}

input {
    display: inline;
    background-color: #f4c0d7;
    border: 2px solid #f4c0d7;
    border-radius: 5px;
    font-size: 22px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    outline: none;
}

@media only screen and (min-width: 400px) {
    .gif-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .gif-list {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .gif-list {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .gif-list {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .app {
        width: 1140px;
    }
}
